<section class="p-0 m-1 card col-lg-3" style="width: 18rem;">
  <a href="/post/{{id}}">
    <img src="{{image_filename}}" class="card-img" alt="{{url}}">
  </a>
  {{!-- <div class="card-body">
    <a href="/user/{{user.id}}">
      <h1 class="card-title">{{post.user.username}}</header>
    </a>
      <p class="card-text">{{body_text}}</p>
  </div> --}}
</section>