<section class="card">
    <a href="/user/{{user.id}}">
      <header>{{user.username}}</header>
    </a>
  <a href="/post/{{id}}">
    <div class="card-body">
      <img src="{{image_filename}}" alt="{{url}}">
      <p>{{body_text}}</p>
    </div>
  </a>
</section>