<section class="card">
  <a href="/post/{{id}}">
    <header>{{user.name}}</header>
    <div class="crad-body">
      <img src="{{url}}" alt="{{url}}">
      <p>{{body_text}}</p>
    </div>
  </a>
</section>