<section class="painting">
  <img src="{{image_filename}}" alt="{{body_text}}">
  <div class="painting-details">
    <a href="/user/{{user.id}}">
      <h3>Username:{{user.username}}</h3>
    </a>
    <p>Likes: {{likes}}</p>
    <p>{{body_text}}</p>
  </div>
</section>