<section class="painting">
  <img src="{{post.image_filename}}" alt="{{post.body_text}}">
  <div class="painting-details">
    {{!-- this compares the logged in user to the post user --}}
    {{!-- full list of comparers is here: https://gist.github.com/doginthehat/1890659/2a3c5a269fb2282cc9ce7526bb99f93d5559ac65 --}}
    {{#compare session.user_id post.user.id operator="=="}}
    <h5>Edit post</h5>
    <button id="delete-post" class="btn-no-style" data-id="{{post.id}}">Delete</button>

    {{/compare}}
    
    <a href="/user/{{post.user.id}}">
      <h3>Username:{{post.user.username}}</h3>
    </a>
    <p>Likes: {{post.likes}}</p>
    <p>Post Text: {{post.body_text}}</p>

    {{#each post.comments}} 
    {{#> comment-details this parent=../this}}
    <h5>No comments</h5>
    {{/comment-details}}
    {{/each}}
    {{!-- TODO add comment --}}
  </div>
</section>
<script src="/js/indivpost.js"></script>