<section class="painting">
  <img src="{{post.image_filename}}" alt="{{post.body_text}}">
  <div class="painting-details">
    {{#if isUser}}
    <h1>EDIT POST</h1>
    {{/if}}
    <a href="/user/{{post.user.id}}">
      <h3>Username:{{post.user.username}}</h3>
    </a>
    <p>Likes: {{post.likes}}</p>
    <p>Post Text: {{post.body_text}}</p>

    {{#each post.comments}}
    {{> comment-details}}
    {{/each}}
    {{!-- TODO add comment --}}
  </div>
</section>