<section class="container-fluid d-flex justify-content-center">
  <section class="p-0 card" style="width: 50rem;">
    <a href="/user/{{post.user.id}}">
      <h3 class="card-header"><img src="{{post.user.profile_image_filename}}" class="img-thumbnail border-0 rounded-circle" style="width:5%" alt="profile pic placeholder">
        {{post.user.username}}
      </h3>
    </a>
    <img src="{{post.image_filename}}" class="img" alt="{{post.body_text}}">
    <div class="card-body">
      <div id="normalPost" class="container">
        <div class="mb-3 card-text">
          <h3>
            <div id="actualPost">{{post.body_text}}</div>
          </h3>
        </div>
        <div class="container-fluid row">
          <div class="col-6">
            <p><i class="fa fa-heart"></i> {{post.likes}}</p>
          </div>
          <div class="p-0 col-6 d-flex justify-content-end">
            {{#compare session.user_id post.user.id operator="=="}}
            <button id="edit-post" class="btn btn-outline-secondary" type="button" data-id="{{post.id}}">Edit</button>
            <button id="delete-post" class="mx-2 btn btn-outline-danger" type="button" data-id="{{post.id}}">Delete</button>
            {{/compare}}
          </div>
        </div>
      </div>
      {{#compare session.user_id post.user.id operator="=="}}
      <div id="editingPost" style="display:none">
        <form class="form edit-post-form" data-id="{{post.id}}">
          <div class="form-group">
            <label for="body-post">Edited Post:</label>
            <input class="form-input" type="text" id="post-input" />
          </div>
          <div class="form-group">
            <button id="finish-post" class="btn btn-outline-primary" type="submit"  post-id="{{post.id}}">Finish Editing Post</button>
          </div>
        </form>
      </div>
      {{/compare}}
      <hr>
      {{!-- this compares the logged in user to the post user --}}
      {{!-- full list of comparers is here: https://gist.github.com/doginthehat/1890659/2a3c5a269fb2282cc9ce7526bb99f93d5559ac65 --}}
      

      {{#each post.comments}} 
      {{#> comment-details this parent=../this}}
      <h5>No comments</h5>
      {{/comment-details}}
      {{/each}}

      {{!-- {{#compare }} --}}
      {{#if loggedIn}}
      {{> comment-new}}
      {{/if}}
      {{!-- TODO add comment --}}
    </div>
  </section>
</section>
<script src="/js/indivpost.js"></script>

