{{!-- <section class="container"> --}}

  <section class="container mt-4">
    <div class="card border-0">
      <div class="row justify-content-center mt-5">

        <div class="col-4 d-flex justify-content-end">

          <img src="{{user.profile_image_filename}}" class="img-thumbnail rounded-circle mr-5 mb-3" style="width:10rem; height:10rem;"
            alt="profile pic placeholder" id="uploadClicker">
          <div class="form-group">
            {{#compare session.user_id user.id operator="=="}}
            <input type="file" id="toUploadImage" accept="image/*" name="image" />
          </div>
          {{/compare}}


          <div class="col-4 mr-5">
            <h4 class="user-name">{{user.username}}</h4>
            <div class="d-flex gap-3 mt-4">
              <p>520 posts</p>
              <p>755 followers</p>
              <p>270 following</p>
            </div>
          </div>
        </div>
      </div>

      <section class="container">
        {{#unless isUser}}
        <buttton id="follow-btn" type="button" class="btn btn-outline-info btn-md bg-none">
          <span class="btn-label">
            {{#if hasRelationship}}
            <i class="fa fa-minus"></i> UNFOLLOW
            {{else}}
            <i class="fa fa-plus"></i> FOLLOW
            {{/if}}
          </span>
        </buttton>
        {{/unless}}
      </section>
      <section class="flex-row justify-center">
        {{#each user.posts}}
        {{> indivpost-details}}
        {{/each}}
      </section>
  </section>
  <div id="pageId" style="display:none">{{pageId}}</div>

  <div id="userIdStorage" style="display:none">{{user.id}}</div>

  <script src="/js/follow.js"></script>
  <script src="/js/profile.js"></script>
  {{!-- <span class="btn-label"><i class="fa fa-user-minus"></i></span> --}}